.container{
    margin-top: 5%;
}
.container-fluid{
    padding: 3px;
}
#navbarNav{
padding: 3px;
}
#launch{
padding-left: 15px;
}
#lion{
    padding-top: 1cm;
}
#lion{
    padding-top: 1cm;
}
#tiger{
    padding-top: 1cm;
}
.time{
     padding-top: 1cm;
}
#right_content{
    margin-top: 20px !important;
    height: 100vh;
}
