.container{
    margin-top: 5%;
}
.container-fluid{
    padding: 3px;
}
#navbarNav{
padding: 3px;
}
#launch{
padding-left: 15px;
}
#two{
padding-right: 50px;
padding-left: 50px;
}
#three{
    padding-right: 20px;
padding-left: 20px;
}
#ten{
    padding-top: 5%;
}
/* .btn{
    padding-left: 10.3cm;
} */
 /* .navbar{
    margin-top: 0px !important;
    padding-top: 0px !important;
 } */
  .navbar{
        margin-top: 0px !important;
    padding-top: 0px !important;
  }